.imgSlide1{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(../Photo/antique-black-and-white-classic-1021876.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgSlide2{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(../Photo/architecture-autumn-avenue-773471.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgSlide3{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(../Photo/architecture-beautiful-exterior-106399.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
