body{
    margin : 2% 10%;
    background-image: url("./img/bg-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}

fieldset{
    margin-bottom: 2em;
    border-radius: 8px;
    border: 1px solid gray;
}

legend{
    font-size: 1.2em;
    color: dimgray;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

section{
    margin: 0% 20%;
    background-color: darkgray;
    height: 100vh;
    border: 2px solid black;
}

header{
    border: 1px solid red;
    min-height: 75px;
    margin-bottom: 10px;
    background-color: lightgray;
}
#contact{
    border: solid 1px red;
    margin-top: 5px;
}

.container-fluid{
    /*border: solid 1px red;*/
    min-height: 500px;

}.contact-text{
     /*border: solid 1px red;*/
     min-height: 500px;
    background-color: lightgray;
}
.map{
    /*border: solid 1px red;*/
    overflow: hidden;
    position: relative;

}
#map-container-2 iframe{
    /*border: solid 1px red;*/
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.titre{
    color:white;
    background-color: darkred;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 25px;
}
.text-resume {
    text-align: justify;
}

.imgSlide1{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(./img/antique-black-and-white-classic-1021876.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgSlide2{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(./img/architecture-autumn-avenue-773471.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgSlide3{
    height: 400px;
    min-height: 300px;
    background: no-repeat center center scroll url(./img/architecture-beautiful-exterior-106399.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*image responsive dans les cadres*/

.carousel-inner{

    height: 100%;
    width: 100%;
}

#mario{
    background-image: url("./img/mario.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}

#outer-resto{
    background-image: url("./img/outher-resto.jpg");
    background-position: center;
    height: 100%;
    width: 100%;
}

/*petite ombre tout en haut*/

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

/*animations*/

@keyframes commander{
    0%{}
    100%{box-shadow: 0 0 180px 100px rgba(0,0,0,0.75);}
}

@keyframes hover-cadre {
    0%{}
    100%{box-shadow: 0 0 100px 50px rgba(0,0,0,0.75);}
}


/*static*/

/*general*/
html, body{
    min-height: 100%;
}

body{
    background-image: url("./img/bg-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

p{
    margin:0;
}

.display-4{
    padding: 0;
}

.home-btn-link{
    c
}

.home-btn-link:hover{
    text-decoration: none;
    color: ;
}

/*end: general*/
/*header, navbar and footer*/

header{
    display: flex;
    height: 150px;
    background-color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    box-shadow: 0 0 53px 1px rgba(0,0,0,0.75);
}

.navbar{
    height: 50px;
    box-shadow: 0 0 53px 1px rgba(0,0,0,0.75);
    z-index: 2;
}

footer{
    box-shadow: 0 0 53px 1px rgba(0,0,0,0.75);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin-top: -100px;
    z-index: 3;
}

/*end: header, navbar and footer*/
/* content */

section{
    margin: 0 auto;
    height: calc(100vh - 300px);
    position: relative;

    /*pour centrer les cadres*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section>div{
    height:100%;
}

/*Le bouton "commander"*/

#cmd-btn{
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 125px);
    font-size: 32px;
    width: 250px;
    height: 80px;
    z-index: 2;
    border-radius:5px;
    background-color: #072f36;
    border-width: 3px;
    padding: 15px;
}

#cmd-btn:hover{
    background-color: #323940;
    animation-name: commander;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*Les cadres*/

.row{
    width: 1300px;
    height: 50%;
    margin:0;
    box-shadow: 0 0 23px 8px rgba(0,0,0,0.75);
    z-index: 1;
}

.accueil-cadre{
    padding:0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.accueil-cadre:hover{

    z-index: 1;
    animation-name: hover-cadre;
    animation-duration: 800ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}


.accueil-cadre > *{
    height: 100%;
}

.txt-cadre{
    padding: 30px 25px;
}

.txt-cadre>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txt-cadre>div>*{
    margin: 5px 0;
}

.txt-cadre>div>.btn{
    width: 33%;
}

/*le cadre à texte en haut à gauche*/
#command{
    background-color: #75939c;
    text-align: left;
}

/*carousel en haut à droite*/
#photo-command{
    background-color: #75939c;
}

/*carousel en bas à gauche*/
#photo-pres{
    background-color: #75939c;
}

/*le cadre à texte en bas à droite*/
#pres{
    background-color: #75939c;
    text-align: right;
}


/*responsivity*/

@media screen and (max-width: 1300px) {
    .row{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .row{
        width: 483px;
    }

    body{
        background-color: #0c5460;
        background-image: none;
    }
}


/*end: content*/